SPOTIFY_CLIENT_ID=your_client_id_here
SPOTIFY_CLIENT_SECRET=your_client_secret_here
SPOTIFY_REDIRECT_URI=http://YOUR_UNRAID_IP:3080/auth/callback
SERVER_PORT=3000

DB_USER=wled
DB_PASSWORD=yourpasswordhere
DB_NAME=listening_history
DB_HOST=postgres
DB_PORT=5432
